:root {
  --fa-animation-duration: 1.5s;
  --fa-animation-iteration-count: 2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Poiret One', sans-serif;
}

nav {
  /* background-color: #FCFAF9; */
  background-color: #48E5C2;
  height: 80px;
  display: flex;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.logo {
  padding-right: 5px;
  padding-left: 10px;
  margin-top: 9px;
  margin-bottom: 0px;
}

.heading1 {
  font-size: 40px;
  margin-top: 8px;
}

main {
  padding: 56px;
}

.form {
  display: grid;
  grid-template: 40px 40px /1fr 1fr;
  gap: 17px;
}

.form-input {
  font-family: 'Poppins', 'Poiret One', sans-serif;
  border-radius: 5px;
  border: 1px solid #5E5E5E;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  font-family: 'Poppins', 'Poiret One', sans-serif;
  border-radius: 5px;
  background-color: #48E5C2;
  border: none;
  cursor: pointer;
}

.meme-div {
  display: flex;
  justify-content: center;
}

.meme-image {
  max-width: 700px;
  min-width: 700px;
  max-height: 550px;
  min-height: 550px;
  margin-top: 10px;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2); */
}



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
