:root {
  --fa-animation-duration: 1.5s;
  --fa-animation-iteration-count: 2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif
}

nav {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: lightpink;
  padding: 16px 36px;
  margin-top: 10px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bold;
}

.logo {
  animation-duration: var(--fa-animation-duration);
  animation-iteration-count: var(--fa-animation-iteration-count);
  margin-top: 1px;
}

.nav-title {
  margin-top: 3px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  /* overflow-x: auto; */
}

.card {
  /* padding: 20px;
  height: 80vh; */
  font-size: 13px;
  /* flex: 1 0 auto; */
  display: flex;
  /* flex-wrap: wrap; */
  /* position: relative; */
  margin-top: 20px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
 }

 .column {
  flex: 1, 2;
  /* border: 2px solid yellow; */
  
}

.column:first-child {
  margin-right: 20px;
}

.column:nth-child(2) {
  margin-top: 80px;
}

 .card-img {
  height:70vh;
  width:55vh;
  border-radius: 9px;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 9px;
}

.main-text {
  text-align: justify;
}

.loc-maps, .location, .g-maps {
  margin-bottom: 5px;
}

.title {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.date {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}

.description {
  padding-right: 300px;
}

/* .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
